@import "tailwindcss";


@theme {
  --color-mainGreen: #004829;
  --color-lightGreen: #73ffc2;
  --color-mainYellow: #e0ce00;
}


.hero-bg {
  background-image: url("/landing-background.png");
  background-size: cover;
}
